/* 박스 가로정렬 */
#wrap1 {
  position: absolute;
  top: 110px;
  bottom: 50px;
  right: 0;
  left: 0;
  display: flex;
}
/* -----------------------box 1------------------- */
/* 아이콘과 홈버튼 box */
.box1 {
  background: white;
  height: 100%;
  width: 20%;
  border-right: 3px solid #8ec3b0;
}

.icon {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* ----------------------box 2-------------------- */

/* POST section 박스 */
.box2 {
  background: white;
  height: 100%;
  width: 60%;
  padding-top: 15px;
  /* 스크롤 */
  overflow-y: scroll;
}

/* display row 형태로 view 만들기 */
.section_view {
  width: 90%;
  height: auto;
  border-bottom: 2px solid black;
  background: white;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  display: flex;
  border-bottom: 2px solid black;
}

/* 게시글 이미지 style */
.profile_img {
  margin: 10px;
  border-radius: 50%;
  border: 1px solid black;
}

/* 게시글 정보 */
.posts {
  background: white;
  width: 100%;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* 태그용 닉네임과 시간정보 */
.post_detail {
  font-weight: normal;
  font-size: 13px;
  color: gray;
}

/* 정렬 */
.post_name {
  display: flex;
  column-gap: 15px;
}
/* 태그용 닉네임과 시간정보 */
.post_detail {
  font-weight: normal;
  font-size: 13px;
  color: gray;
}

/* 게시글 스타일 정보 */
.post_content {
  width: 100%;
  margin-top: 15px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* 이미지 크기 조절 */
.post_img {
  margin-top: 15px;
  max-width: 100%;
  border-radius: 20px;
  height: auto;
}

/* ---------------------box 3--------------------- */

/* 프로필 정보 박스 */
.box3 {
  background: white;
  height: 100%;
  width: 20%;
  border-left: 3px solid #8ec3b0;
}

.my_profile {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}

.profile_info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 15px;
  line-height: 0.1;
}

.item {
  font-size: 32px;
  text-align: left;
}
