/** 메인페이지 header */
.header {
  position: relative;
  width: 100%;
  height: 50px;
  left: 0px;
  background: #8ec3b0;
}

/** 로그인 버튼 */
.login-btn {
  box-sizing: border-box;

  position: absolute;
  width: 80px;
  height: 40px;
  right: 120px;
  font-size: 15px;
  top: 5px;

  background: #def5e5;
  border-radius: 30px;
}

/** 회원가입 버튼 */
.signup-btn {
  box-sizing: border-box;

  position: absolute;
  width: 80px;
  height: 40px;
  right: 25px;
  top: 5px;
  font-size: 15px;

  background: #def5e5;
  border-radius: 30px;
}

button:hover {
  opacity: 0.8;
}
